label{
    display: inline-block;
    background-color:#00ffff;
    width: 10%;
}

table, th, td {
    background-color: #f0f0f0;
    border: 1px solid black;
}

th{
    background-color: gray;    
}